.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 200px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .movie-poster {
    position: relative;
  }
  .image {
    display: block;
    height: 100%;
    &:hover {
      opacity: 0.3;
    }
  }
  
  .movie-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    .movie-title {
      font-size: 22px;
    }
    &:hover {
      opacity: 0.8;
    }
    .text {
      font-size: 16px;
    }
  }
}
